{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<script type="text/javascript">
   $(document).ready(function(){
      $(".controls").prepend("<p class=d-inline ><i>ich stimme vollständig zu  </i>&nbsp</p>");
      $(".controls").append("<p class=d-inline> <i>ich stimme überhaupt nicht zu </i>&nbsp</p>");
   });
</script>

   <h4>Welche Meinung haben Sie zu den folgenden Aussagen?</h4><br>


      <p>Antworten Sie bitte anhand der folgenden Skala:
Der Wert <b>1</b> bedeutet: <b>„ich stimme vollständig zu“</b>, der Wert <b>7</b> bedeutet: <b>„ich stimme überhaupt nicht zu“</b>.

Mit den Werten zwischen 1 und 7 können Sie Ihre Meinung abgestuft ausdrücken.</p>
<!--   <ul>
      <li>1 = „ich stimme vollständig zu“</li>
      <li>2 = „ich stimme zu“</li>
      <li>3 = „ich stimme teilweise zu“</li>
      <li>4 = „ich stimme weder zu noch stimme ich nicht zu“</li>
      <li>5 = „ich stimme teilweise nicht zu“</li>
      <li>6 = „ich stimme nicht zu“</li>
      <li>7 = „ich stimme vollständig nicht zu“</li>
   </ul>
-->

   <br>

   {% for field in form %}
      {% formfield field %}
   {% endfor %}

    {% next_button %}

{% endblock %}
