{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

   <h4>Welche Meinung haben Sie zu den folgenden Aussagen? Dabei bedeutet</h4><br>
   <h5>
   <ul>
      <li>1 = "ich stimme vollständig zu"</li>
      <li>2 = "ich stimme zu"</li>
      <li>3 = "ich stimme teilweise zu"</li>
      <li>4 = "ich stimme weder zu noch stimme ich nicht zu"</li>
      <li>5 = "ich stimme teilweise nicht zu"</li>
      <li>6 = "ich stimme nicht zu"</li>
      <li>7 = "ich stimme vollständig nicht zu"</li>
   </ul>
   </h5>
   <br>

   {% for field in form %}
      {% formfield field %}
   {% endfor %}

    {% next_button %}

{% endblock %}
