{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
   <h4>Im Folgenden werden Ihnen einige Situationen beschrieben. Bitte lesen Sie aufmerksam und beantworten die nachfolgenden Fragen.</h4><br>
   {{ statement_a }}<br><br>
   {{ random_question}}
   <br><br>
   {% formfield player.zsg_question_1 label=question_1 %}
   {% formfield player.zsg_question_2 label=question_2 %}
   {% formfield player.zsg_question_3 label=question_3 %}
   {% formfield player.zsg_question_4 label=question_4 %}

    {% next_button %}

{% endblock %}
