{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles %}

{% block title %}
<img src="{% static "inequality_research_survey/logo.png" %}">
<br>
Hallo und herzlich willkommen zu unserer Umfrage!

 
{% endblock %}

{% block content %}
   <br>
   <p>Wir sind Mitglieder des Fachbereichs Volkswirtschaftslehre an der Universität Bonn. Diese Umfrage ist Teil eines Forschungsprojektes zum Thema „Ungleichheit“. Wir freuen uns, wenn Sie sich für das Projekt einige Minuten Zeit nehmen und die Umfrage beantworten. Diese Umfrage ist anonym und alle Daten werden ausschließlich im Rahmen dieses Forschungsprojektes ausgewertet.
   Bitte antworten Sie ehrlich und nach bestem Gewissen. Es gibt dabei kein Falsch oder Richtig.
   Falls Sie Fragen zur Beantwortung haben oder einzelne Fragen unklar sind, wenden Sie sich bitte an uns.</p>
   <br>
   {% next_button %}

{% endblock %}

