{% extends "global/Page.html" %}
{% load otree static %}
{% load staticfiles %}

{% block title %}
<img src="{% static "inequality_research_survey/logo.png" %}">
Hallo und herzlich willkommen zu unserer Umfrage!

 
{% endblock %}

{% block content %}
   <br>
   <p>Wir sind Studierende des Masterstudiengangs Economics an der Universität Bonn. Diese Umfrage ist Teil eines Forschungsprojektes zum Thema „Ungleichheit“. Wir freuen uns, wenn Sie sich für die Studie einige Minuten Zeit nehmen und den Fragebogen ausfüllen. Diese Umfrage ist anonym und alle Daten werden ausschließlich im Rahmen des Forschungsprojekts genutzt.
   Bitte antworten Sie ehrlich und nach bestem Gewissen. Es gibt dabei kein Falsch oder Richtig.
   Bei Unklarheiten oder Fragen zur Beantwortung haben, wenden Sie sich gern an uns.</p>
   <br>
   {% next_button %}

{% endblock %}

